body {
    text-align: center;
    background-color: lightgray;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    float: right;
}

.hidden {
    display: none;
}

#gameCanvas {
    background-color: green;
    border: 2px solid white;
    display: block;
    margin: auto;
}

#scoreboard {
    font-size: 24px;
    color: white;
    background: black;
    padding: 10px;
    width: 100px;
    margin: 20px auto;
}
